/* External style sheet */

/*
body{
	text-align: left;
	font-family: arial, helvetica, sans-serif;
	font-size:15px
}
*/

/*
li{
	list-style: none;
	line-height: 2em;
	text-align: left;
}
*/

h2{
	text-align: left;
	font-family: arial, helvetica, sans-serif;
	font-size:25px
}

.header{
	background: #A4C639;
	font-family: cursive, times, sans-serif;
	border-bottom:#ccc 4px solid;
	padding:10px;
	text-align: center;
}

.container{
	width:600px;
	text-align: left;
	background: #F5F5DC;
}

button{
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 12px;
}

select{
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

span{
	/*width: 100px fixed;*/
	background-color: white;
	padding: 10px 40px;
	font-size: 16px;
	text-align: center;
	border-radius: 12px;
	border:black 2px solid;
	
	
}
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	overflow:auto;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}